# Database (Neon)
DATABASE_URL=jdbc:postgresql://ep-dry-credit-aj77ca8h-pooler.c-3.us-east-2.aws.neon.tech/freelance-marketplace-db?sslmode=require
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_O43PKHzRSbJT

# JWT
JWT_SECRET=your-256-bit-secret-key-here-must-be-very-long-and-secure
JWT_EXPIRATION_MS=86400000

# CORS
CORS_ALLOWED_ORIGINS=https://freelancer-frontend-hdt5efzut-shubhamp2611s-projects.vercel.app

